language: php

sudo: false

php:
  - 7.2
  - 7.3
  - 7.4snapshot

matrix:
  fast_finish: true

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update
  - composer validate

install:
  - composer install --prefer-dist --no-interaction

script:
  - vendor/bin/phpunit
  - vendor/bin/phpcs .
