<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Design Patterns">
            <directory>./Behavioral/*/*Test.php</directory>
            <directory>./Creational/*/*/Test.php</directory>
            <directory>./More/*/*/Test.php</directory>
            <directory>./Structural/*/*/Test.php</directory>
        </testsuite>
    </testsuites>

</phpunit>
